.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #5eafa2; /* Slightly darker overlay */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add text shadow */
}

.header_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_section .navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header_section .navbar-brand span {
  display: flex;
  align-items: center;
}

.header_section .navbar-brand span img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px dashed #555;
}

.header_section .navbar-toggler {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
}

.header_section .collapse.navbar-collapse {
  justify-content: flex-end;
}

.header_section .navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header_section .navbar-nav .nav-item {
  margin-left: 15px;
}

.header_section .navbar-nav .nav-item .nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: color 0.3s ease; /* Smooth hover transition */
}

.header_section .navbar-nav .nav-item.active .nav-link,
.header_section .navbar-nav .nav-item .nav-link:hover {
  color: #f0f0f0; /* Slightly lighter hover color */
}

.header_section .form-inline {
  /* Style the search form */
}

.header_section .form-inline .nav_search-btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-left: 15px;
}

.header_section .sign-in-button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  background-color: #3e858a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.header_section .sign-in-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}