<app-header></app-header>

<div class="hero_area">

  <div class="hero_bg_box">
    <img src="assets/images/hero-bg.png" alt="">
  </div>

  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Optimize Your Clinic, Enhance Your Practice
                  </h1>
                  <p>
                    Reclaim valuable time and significantly boost your clinic's efficiency through centralized workflows. Our management solution expertly handles staff scheduling, patient records, invoice processing, appointment booking, and product tracking, optimizing your resources and reducing the complexities of daily administration.          <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>

    </section>
    </div>

  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our Services
          </h2>
          <p>
            We are here to support your health journey with a patient-centered approach, offering a wide array of services designed for your comfort and recovery.          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  PATIENTS
                </h5>
                <p>
                  Compassionate care tailored to your individual health needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  APPOINTMENTS
                </h5>
                <p>
                  Convenient appointment booking to fit your schedule.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  INVOICES
                </h5>
                <p>
                  Clear and straightforward information regarding your medical expenses.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  PRODUCT
                </h5>
                <p>
                  Access to a range of high-quality medical products and resources.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="about_section layout_margin-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Welcome to NovaClinic, the all-in-one web platform for managing your clinical cabinet with ease and efficiency. We offer a powerful array of features designed to enhance every aspect of your practice, including seamless appointment scheduling, comprehensive and secure patient record management, automated invoicing and billing, and insightful analytics to help you make informed decisions. Our goal is to provide clinical cabinets with a robust yet intuitive solution that saves time, improves organization, and ultimately contributes to a smoother and more productive workflow. At NovaClinic, we are committed to innovation and providing exceptional support to our users.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demogmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="active" href="index.html">
                Home
              </a>
              <a class="" href="about.html">
                About
              </a>
              <a class="" href="departments.html">
                Departments
              </a>
              <a class="" href="doctors.html">
                Doctors
              </a>
              <a class="" href="contact.html">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer_col ">
          <h4>
            Newsletter
          </h4>
          <form action="#">
            <input type="email" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates<br><br></a>
           &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/">ThemeWagon</a>
        </p>

      </div>
    </div>
  </footer>